.crear_empresa {
    display: flex;
    padding: 25px 60px 0 30px;
    .left {
        .atras{
            color: #707070;
            font-weight: bold;
        }

        a {     
            height: 20px;

            svg {
                height: 20px;
                padding: 0 10px 0 5px;
            }
            span {
                height: 20px;
            }
        }
       
        span{
            color:#818181;
        }
        width: 55%;
        height: 100%;
        .image img {
            width: 100%;
        }
    }
    .right_form {
        padding: 0 ;
        margin-left: 35px;
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        .form{
            align-items: center;

            height: 100%;
            width: 80%;
            .boton_crear{
                height: 20px;
        }

        
        }
    }
}
