.empresas_registradas {
    display: flex;
    padding: 25px 60px 0 30px;

    .left {
        width: 50%;
        height: 100%;
        h1{
            color:#333333;
            margin-bottom: 20px;
        }
        span{
            color:#818181;
        }
        .image img {
            width: 100%;
        }
    }
    .right {
        color: #818181;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20%;
        button {
            color: white;
            margin-top: 10px;
            width: 212.5px;
            height: 35px;
            border-radius: 6.5px;
            background-color: #2f1071;
        }
    }
}
