.index_container {
    margin:  auto;
    width: 50%;
    }
  
  .index_title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
  }
  
  .item {
    padding: 1rem;
    font-size: 1.25rem;
    background:rgba(4, 41, 71, 0.602);
    border:solid 2px rgb(41, 40, 40);
    border-radius: 10px;
    a {
      display: block;
      text-align: center;
      font-weight: bold;
      color: white;
      text-decoration: none;
      letter-spacing: 3px;
      
    }
}