.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

    .header__user_profile {
        display: flex;
        color: $grey_light_text;
        .user_profile__avatar {
            margin-right: 10px;
        }
    }
}
.sidebar {
    .sidebar__content {
        margin-top: 7rem;
        margin-left: 3rem;
        p {
            font-weight: bold;
            color: $grey_light_text;
        }
        span {
            text-align: center;
            display: inline-block;
            margin-left: 1rem;
            background-color: $blue_link;
            color: white;
            border-radius: 50%;
            width: 1.6rem;
            height: auto;
        }
    }
}
.content_container {
    padding: 2rem;
    .content_container__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .create {
            color: white;
            width: 80.5px;
            height: 25.5px;
            margin: 27.5px 18.5px 26px 8.5px;
            padding: 7px 9.5px 7px 10px;
            border-radius: 6.5px;
            background-color: #2f1071;
        }
    }
}
.table_stadistic_links {
    ul {
        display: flex;
    }
}
