.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

    .header__user_profile {
        display: flex;
        color: $grey_light_text;

        .user_profile__avatar {
            margin-right: 10px;
        }
    }
}
.sidebar {
    .sidebar__content {
        margin-top: 7rem;
        margin-left: 3rem;
        p {
            font-weight: bold;
            color: $grey_light_text;
        }
        span {
            text-align: center;
            display: inline-block;
            margin-left: 1rem;
            background-color: $blue_link;
            color: white;
            border-radius: 50%;
            width: 1.6rem;
            height: auto;
        }
    }
}
.content_container {
    padding: 2rem;

    .pagos_container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 15% auto 10% 60%;
        grid-template-columns: 100%;

        .Pagos_container__header {
            grid-row: 1/2;
            grid-column: 1/2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1 {
                color: $grey_dark_text;
            }
            a {
                text-decoration: none;
                margin-right: 10px;
                color: $grey_light_text;
            }
            button {
                background-color: $blue_link;
                padding: 0.8rem 1.5rem;
                color: white;
                border-radius: 6.5px;
                word-spacing: 3px;
            }
        }
        .date_table {
            grid-row: 2/3;
            grid-column: 1/2;
        }
        .table_stadistic_links {
            grid-row: 3/4;
            grid-column: 1/2;
            ul {
                display: flex;
                li {
                    .estado {
                        width: auto;
                        font-weight: 800;
                        height: 30px;
                        color: #707070;
                        .header-estado{
                            width: 100%;
                            display: flex;
                        }
                    }
                    list-style: none;
                    padding: 0 1rem 0.5rem 0.5rem;
                    color: $grey_light_text;

                    .valor {
                        display: inline-flex;
                        font-size: 12px;
                        margin-left: 0.5rem;
                        width: 20px;
                        border-radius: 50%;
                        background-color: #a9a9a9;
                        color: white;
                        span {
                            padding: 2px;
                        }
                    }
                    .activo {
                        margin-left: -10%;
                        width: 120%;
                        height: 3px;
                        background-color: #22cc8c;
                        margin-top: 2px;
                    }
                    .inactivo {
                        margin-top: 2px;
                        margin-left: -10%;
                        width: 120%;
                        height: 3px;
                        background-color: white;
                    }
                }
            }
        }
        .table_container {
            border: 1px solid gray;
            grid-row: 4/5;
            grid-column: 1/2;
            margin-top: -10px;
        }
    }
}
