input {
   min-width: 360px;
    height: 2.1rem;
    padding: 13.8px 17.3px;
    margin-bottom: 20px;
    letter-spacing: 0.56px;
    background-color: $grey_light_input;
    border-radius: 14px;
    border: none;
}

.send_email {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    p {
        display: inline-block;
        color: $grey_light_text;
        font-weight: bold;
        height: 100%;
    }
}

.options {
    position: absolute;
    width: 230px;
    height: auto;
    padding: 1rem;
    line-height: 40px;
    border-radius: 10px;
    box-shadow: $field_shade;
    background-color: white;
    input {
        width: 40px;
    }
}
.input_submit {
    width: 70%;
    color: $grey_dark_btn;
    background-color: $grey_light_btn;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: $font-principal;
    padding: 0.2rem 1rem 0 1rem;
}
.content_password {
    position: absolute;
    margin-left: -40px;
    margin-top: .35rem;
    color: $grey_dark_input;
}