.content_select {
    max-width: 170px;
    min-height: 1.3rem;
    position: relative;
    display: flex;
}
.content_select_input {
    background-color:white ;
    width: 50px;
    height: 1.3rem;
    input{
        background-color:white ;

    }
}
.options_close{
    font-size: .8rem;
    display: flex;
    width: 50px;
    height: 1.5rem;
    background-color:$grey_light_input ;
    border-radius: 20%;
    margin-bottom: 10px;
}
.options {
    font-size: .8rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 145px;
    min-height: 7rem;
    border-radius: 10px;
    box-shadow: $field_shade;
    background-color: white;
    margin-top: 2.2rem;
    
}
.options_label{
    display: flex;
   width: 140px;
   margin-bottom: 15px;
   margin-left: 5px;
}
.select_input{
    width:1.2rem ;
    max-height: 1rem;
}
.select_span{
    margin: 4px 5px;

}