.table-container{
    display: block;
    border: 1px solid gray;
    width: 100%;
} 
.table_container_pagos {
    width: 90%;
    max-height: 23rem;
    border: 1px solid gray;
    grid-row: 4/5;
    grid-column: 1/2;
    overflow-x: auto;

    
}
.date_table {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0;
    
}
.table_stadistic_links {
    grid-row: 3/4;
    grid-column: 1/2;
    ul {
        display: flex;
        li {
            .estado {
                width: max-content;
                font-weight: 800;
                height: 30px;
                color: #707070;
                .header-estado{
                    width: 100%;
                    display: flex;
                }
            }
            list-style: none;
            margin: 0 1rem 0.5rem 0;
            color: $grey_light_text;

            .valor {
                display: inline-flex;
                font-size: 12px;
                min-width: 20px;
                max-height: 1.2rem;
                border-radius: 50%;
                background-color: #a9a9a9;
                color: white;
                span {
                    padding: 2px;
                }
            }
            .activo {
                margin-left: -10%;
                width: 120%;
                height: 3px;
                background-color: #22cc8c;
                margin-top: 2px;
            }
            .inactivo {
                margin-top: 2px;
                margin-left: -10%;
                width: 120%;
                height: 3px;
                background-color: white;
            }
        }
    }
}
.tabla_pagos{
    font-size: .7rem;
    text-align: left;
    width: 1100px   ;
    overflow-x: auto;


}
table{
    width: 1150px;
    padding: 1rem;
    height: fit-content;
}
th{
    width: max-content;
    color: #3d3d3d;
    font-weight: 800;
    padding-bottom: .50rem;
    padding-top: .25rem;
    padding-right: .5rem;



}
td{
    padding-left: .25rem;
    width: max-content;
    padding-bottom: .5rem;
    padding-top: .25rem;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd; 
    color: #707070;

}
tr{
    margin-bottom: 10px;
    width: 1100px;
}
.estado_entrante,
.estado_exitoso,
.estado_pendiente,
.estado_cancelado,
.estado_procesando
{
    max-width: 80px;
    min-height: 1.2rem;
    color: black;
    border-radius: .6rem;
    padding: 2px 5.5px 2px 6px;
}
.estado_entrante{
    background-color:
    rgba(47, 16, 113, 0.32) ;
}
.estado_exitoso{
    background-color:
    rgba(34, 204, 140, 0.48) ;
}
.estado_pendiente{
    background-color:
    rgba(252, 248, 120, 0.6)    ;
}
.estado_cancelado{
    background-color:
    rgba(252, 120, 120, 0.6);
}
.estado_procesando{
    background-color:
    rgba(120, 144, 252, 0.6) ;

}

