p {
    color: #818181;
    width: 80%;
}
h1 {
    color: #333333;
    padding: 0px 0;
}
.checkbox_text{
    min-width: 340px;
    margin-left: 10px;
    display: inline-block;
    color: #818181;
    width: 100%;
}


