p {
    color: #818181;
    max-width: 25rem;
    margin-bottom: 20px;
}

h1 {
    color: #333333;
    margin-bottom: 30px;
    min-width: fit-content;
}
.h1-tablas {
    color: #333333;
    min-width: fit-content;
}
.h1_pagos {
    color: #333333;
    min-width: fit-content;
    margin: 0;
    margin-bottom: 20px;
}
.h1_pagos {
    color: #333333;
    min-width: fit-content;
    padding: 0;
}
.checkbox_text_solitario{
    min-width: 340px;
    margin-left: 10px;
    display: inline-block;
    color: #818181;
    width: 100%;
    font-size: .65rem;

}
.checkbox_text_fila{
    margin: 0;
    display: inline-block;
    color: #818181;
    font-size: .65rem;
}
h2{
    font-size:1rem ;
    color: $grey_light_text;
    margin-bottom: 5px;
    max-height: 1.1rem;
    font-weight:100 ;
}
.h3_text{
    padding: 0;
    margin: 0;
    max-width: 300px;
    margin-bottom: 0;
font-size: .66rem;
}
.exportar{
    a{
        color: #707070 ;
        text-decoration: none;
    }
}
ul{
    margin-bottom: .8rem;
}

