p {
    color: #818181;
    max-width: 25rem;
    margin-bottom: 20px;
}
h1 {
    color: #333333;
    margin-bottom: 30px;
    min-width: fit-content;
}
.checkbox_text{
    min-width: 340px;
    margin-left: 10px;
    display: inline-block;
    color: #818181;
    width: 100%;
}
h2{
    font-size:1rem ;
    color: $grey_light_text;
    margin-bottom: 5px;
    max-height: 1.1rem;
    font-weight:100 ;

}


