@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap");
:root{
    --container_background :#222
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    @media (min-width:1200px) {
        font-size: 18px;
    }
    @media (min-width:1440px) {
        font-size: 22px;
    }
    @media (min-width:1680px) {
        font-size: 26px;
    }
    @media (min-width:1920px) {
        font-size: 30px;
    }
}
body {
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}


//Idex Colors
$container_background: var(--container_background);
$white: #fff;
$black: #111;
$items_grey: #666;

// Brand Colors
$blue_dark: #3c6e71;
$bg_green: #2cf6b3;

// Colors Buttons
$grey_light_btn: #dfdfdf;
$grey_dark_btn: #b5b5b5;

// Colors Inputs
$grey_light_input: #dadada;
$grey_dark_input: #7e7e7e;
$red_outline_input: #ff8b8b;
$red_text_input: #fe8989;

// Colors Links
$blue_link:  #2f1071;
$grey_dark_link: #707070;

// Colors Texts
$grey_dark_text: #333333;
$grey_light_text: #707070;

//Fonts
$font-principal: 'Nunito', sans-serif;

//shadesf
$container_shade:0 1px 3px  rgba(0, 0, 0, 0.137);
$field_shade:0 2px 3px 1px rgba(0, 0, 0, 0.246);

$text-gray:#949494;
$icon-gray:#959595;
$btn-gray:#dbdbdb;
$bg-btn-gray:#eeeeee;
$bg-btn-text-gray:#b0b0b0;
$bg-btn-green:#22cc8c;
$bg-spn-gray:#a9a9a9;
$bg-btn-select-text: #383737;
$ln_estado_active:#22cc8c;

