.header {
    box-shadow: $container_shade;
    margin: 0 20px 0 0;
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: getRemSize(67px);
    .header__user_profile {
        display: flex;
        color: $grey_light_text;
        margin-right: 20px;
        align-items: center;
    }
    .p_nav {
        font-weight: normal;
        letter-spacing: normal;
        text-align: left;
        font-size: getRemSize(9.5px);
    }
    .p_nav_title {
        font-size: getRemSize(11px);
        font-weight: 900;
        text-align: left;
        color: #808080;
    }
    .user_profile__avatar {
        margin-right: getRemSize(6.5px);
        width: 43px;
    }
}
