.content_select {
    max-width: 170px;
    min-height: 1.3rem;
    position: relative;
    display: flex;
    margin-bottom: 13.8px;
}
.content_select_input {
    background-color: white;
    width: 50px;
    input {
        background-color: white;
    }
}
