.contentTable {
    max-width: 100%;
    overflow: auto;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #dcdcdc;
    border-radius: 6px;

}
.contentTable-2 {
    max-width: 100%;
    overflow: auto;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #dcdcdc;
    border-radius: 6px;

}
.table {
    font-size: getRemSize(9px);
    text-align: left;
    color: #707070;
    padding-top: 15.5px;
    
       // border-collapse: collapse;
    thead {
        tr {
            th {
                padding: 0 6px 10.5px 0;
                font-size: getRemSize(11px);
                font-weight: 800;
                text-align: left;
                color: #3d3d3d;
                white-space: nowrap;
                padding-right:  8px ;
                &:first-child {
                    padding-left: 22px;
                }
                &:last-child {
                    padding-right: 22px;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 0 6px 3px 0;
                white-space: nowrap;
                border-bottom: 1px solid #bdbdbd;
                &:first-child {
                }
                &:last-child {
                    padding-right: 22px;
                }
            }
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
    }
}
.table-2 {
    text-align: left;
    color: #707070;
    border-radius: 6.5px;
   width: 100%;
    padding: 19px 0;
    // border-collapse: collapse;
    thead {
        tr {
            th {
                margin: 0.5px 57px 16.5px 10.5px;
                text-align: left;
                white-space: nowrap;
                padding: 3px 6px;
                &:first-child {
                    padding-left: 29.5px;
                }
                &:last-child {
                    padding-right: 29.5px;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 10px 7px;
                white-space: nowrap;
                border-bottom: 1px solid #bdbdbd;
                &:first-child {
                    padding-left: 29.5px;
                }
                &:last-child {
                    padding-right: 29.5px;
                }
            }
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
    }
}
.t-pagos {
    /*     max-width:760px ;
 */
    max-height: getRemSize(314px);
}
.table_stadistic_links {
    ul {
        display: flex;
        flex-wrap: wrap;
        
    }
}
.estado {
    position: relative;
    align-items: center;
    white-space: nowrap;
    color: #707070;
    font-size: getRemSize(11.5px);
    font-weight: 800;
    text-align: left;
    color: #707070;
    margin-right: getRemSize(26.5px) ;
    padding-bottom:getRemSize(6px) ;
    margin-bottom:getRemSize(14px) ;
    cursor: pointer;

    span{
          font-size: getRemSize(7px);
 
  color: #2f1071;
        display: inline-flex;
    }
    
    
}
.line_active::before{
    content: "";
    width: 100%;
    height: getRemSize(3px);
    background:$ln_estado_active ;
    border-radius: 10px;
    position:absolute;
    display: block;
    transform: scaleX(1.1);
    top: 100%;
}