//Idex Colors
$container_background: #222;
$white: #fff;
$black: #111;
$items_grey: #666;

// Brand Colors
$blue_dark: #3c6e71;
$bg_green: #2cf6b3;

// Colors Buttons
$grey_light_btn: #dfdfdf;
$grey_dark_btn: #b5b5b5;

// Colors Inputs
$grey_light_input: #dadada;
$grey_dark_input: #7e7e7e;
$red_outline_input: #ff8b8b;
$red_text_input: #fe8989;

// Colors Links
$blue_link:  #2f1071;
$grey_dark_link: #707070;

// Colors Texts
$grey_dark_text: #333333;
$grey_light_text: #707070;

//Fonts
$font-principal: 'Nunito', sans-serif;

//shades
$container_shade:0 2px 3px 1px rgba(0, 0, 0, 0.246);
